<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserMapper">
    <!--此处返回值resultType只是测试用,最好使用resultMap-->
<select id="find" resultType="com.ssm.entity.User">
select * from user;
</select>
</mapper>